<!-- ======= Header ======= -->
<header id="header" style="background-color: #37517E;">
    <div class="container d-flex align-items-center">
        <a href="index.html" class="logo me-auto">
            <img src="" alt="" class="img-fluid">
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <button (click)="addBHs()" class="btn btn-info">
                    <i class="bi bi-database-add"></i>
                </button>
                
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" [routerLink]="['/cpt']">CPT Dashboard</a></li>
                <li class="dropdown">
                    <a href="#"><span>Settings</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a [routerLink]="['/account', username]">My account</a></li>
                        <li><a [routerLink]="['/users']">Manage Accounts</a></li>
                    </ul>
                </li>
                <li><a class="getstarted scrollto" (click)="logout()">Log Out</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->


  <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-3">The Borehole Dashboard</h2>
                <p class="lead">Select boreholes from the map below to view detailed data and geological classifications.</p>
            </div>
        </div>
  
      <!-- Main content row -->
      <div class="row mt-4 justify-content-center">
        <!-- First column (Map and 3D Plot) -->
        <div class="col-md-9">
          <!-- Map -->
          <div class="row container-fluid">
            <div class="col-12">
                <div class="card border-secondary">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-secondary text-white">
                        <b>Select Borehole(s) to show data:</b>
                    </div>
                    <div class="card-body">
                        <div id="map" #map style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
  
          <!-- 3D Plot, conditionally rendered -->
          @if (!this.allEven) {
            <div class="row mt-4 container-fluid">
              <div class="col-12">
                <div class="card border-info">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info text-white">
                        <b>3D Geological Classification:</b>
                    </div>
                  <div class="card-body embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item responsive-plot" id="3d" #3d></div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
  
        <!-- Second column (Parameters and Plot) -->
        @if (!this.allEven) {
          <div class="col-md-3">
            <div class="card">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b><i class="bi bi-hand-index-thumb" style="margin-right: 8px;"></i> Select a Parameter</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-divider"></div>
                    @for(option of parameters; track option)
                      {
                        <a class="dropdown-item">
                          <label class="form-check-label">
                            <input type="radio"
                              class="form-check-input"
                              [value]="option"
                              [(ngModel)]="selectedParameter"
                              [ngModelOptions]="{standalone: true}"
                              (change)="plotGraphs2()"
                              name="typeGroup" />
                            {{ option }}
                          </label>
                        </a>
                      }
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div id="plot" #plot></div>
              </div>
            </div>

          </div>
        }
      </div>
    </div>
  </section>
  
  