<div class="container mt-4"> 
    <form [formGroup]="modifyuserForm" (ngSubmit)="submitmodifyUser()">
   
  
      <div class="form-group">
        <label for="parameter1">Username</label>
        <input id="parameter1" formControlName="username" type="email" class="form-control">
      </div>
  
      <div class="form-group mt-3">
        <label for="parameter2">Role</label>
        <input id="parameter2" formControlName="role" type="text" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="parameter3">Status</label>
        <select id="parameter3" formControlName="status" class="form-control">
          <option value="verified">Verified</option>
          <option value="unverified">Unverified</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary mt-4" [disabled]="!modifyuserForm.valid">Submit</button>
    </form>
</div>
