<header id="header"   style="background-color: #37517E">
    <div class="container d-flex align-items-center">

  
       <a href="index.html" class="logo me-auto"><img src="" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="dropdown"><a href="#"><span>Settings</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a [routerLink]="['/account', username]">My account</a></li>
              
              <li><a [routerLink]="['/users']">Manage Accounts</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" (click)="logout()">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<section><div class="row justify-content-center">
    <div class="col-xl-5 col-lg-5 col-md-3  mt-4 mb-4 scrollable embed-responsive">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body" id="tbl">
            <div class="text-m font-weight-bold text-info text-uppercase mb-1">
              Users
            </div>
            <br>
    
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="boxNameFilter" class="mb-0"><b>Userame:</b></label>
              </div>
              <div class="col-md-8">
                <form class="d-flex">
                  <input class="form-control me-1" [(ngModel)]="searchText" (keyup)="searchUsers()" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-info"  ><b>Search</b></button>
                </form>
              </div>
            </div>
            
           
            <br>
            
            <!-- Table -->
             <div class="resp">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                @for (row of filteredUsers; track row) 
               {<tr>
                  <td>{{ row.name }}</td>
                  <td>{{ row.role }}</td>
                  <td>{{ row.status }}</td>
                  <td>
                    <div class=" d-flex justify-content-around">
                      <button type="button" class="btn btn-success mx-1">
                        <i class="bi bi-sliders" (click)="openModifyDialog(row.name, row.role, row.status)"></i>
                      </button>
                      <button type="button" class="btn btn-danger mx-1" (click)="deleteUser(row.name)">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </div>
                  </td>
                </tr> }
              </tbody>
            </table>
          </div>
          </div>
        </div>
    </div>
    </div></section>
