.resp {
    overflow-x: auto;
    max-height: 600px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
}
.resp2 {
    overflow-x: auto;
    max-height: 400px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
}