<div class="container mt-4"> 
    <form [formGroup]="modifyuserForm" (ngSubmit)="submitmodifyUser()">
   
  
      <div class="form-group">
        <label for="parameter1">Username</label>
        <input id="parameter1" formControlName="username" type="email" class="form-control" placeholder="Enter parameter 1">
      </div>
  
      <div class="form-group mt-3">
        <label for="parameter2">Role</label>
        <input id="parameter2" formControlName="role" type="text" class="form-control" placeholder="Enter parameter 2">
      </div>
  

      <button type="submit" class="btn btn-primary mt-4" [disabled]="!modifyuserForm.valid">Submit</button>
    </form>
</div>
