<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>NMDC-Group</b></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      @if(role == 'admin')
     { <li class="nav-item">
        <button type="button" class="btn btn-secondary me-2" (click)="addProject()">Add new BH file</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-secondary me-2" [routerLink]="['/users']">Manage users</button>
      </li>
    }
      
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-secondary me-2" [routerLink]="['/account', username]">Account</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" (click)="logout()">Log out</button>
      </li>
  
    </ul>
  </div>
</nav>

  <div id="content-wrapper">
    <div class="row container-fluid  justify-content-center equal-height full-height"> 
        <div class="col-xl-7 col-lg-7 col-md-9 mt-4 mb-4 embed-responsive embed-responsive-16by9" >
            <div class="embed-responsive-item responsive-plot" id="map" #map></div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-3  mt-4 mb-4 scrollable embed-responsive">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body" id="tbl">
                <div class="text-m font-weight-bold text-info text-uppercase mb-1">
                  Projects
                </div>
                <br>

                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="boxNameFilter" class="mb-0"><b>Project Name:</b></label>
                  </div>
                  <div class="col-md-8">
                    <form class="d-flex">
                      <input class="form-control me-1" [(ngModel)]="searchText" (keyup)="searchProjects()" [ngModelOptions]="{standalone: true}" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-info"  ><b>Search</b></button>
                    </form>
                  </div>
                </div>
                
               
                <br>
                
                <!-- Table -->
                 <div class="resp">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Project Name</th>
                      <th>Date</th> <!-- we can add sort by date -->
                    </tr>
                  </thead>
                  <tbody>
                    @for (row of filteredProjects; track row) 
                   {<tr>
                      <td>{{ row.name }}</td>
                      <td>{{ row.date }}</td> <!-- we can add sort by date -->
                     
                      <td>
                        <div class=" d-flex justify-content-around">
                          <button type="button" class="btn btn-info mx-1" (click)="zoomTo(row.name, row.x, row.y)">
                            <i class="bi bi-bar-chart-line"></i>
                          </button>
                          @if(role == 'admin')
                          {
                          <button type="button" class="btn btn-danger mx-1" (click)="deleteProject(row.name)">
                            <i class="bi bi-trash-fill"></i>
                          </button> }
                        </div>
                      </td>
                    </tr> }
                  </tbody>
                </table>
              </div>
              </div>
            </div>
        </div>
       
    </div>
   
    <div class="row mt-4">
      @if (isclicked)
      {
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <b class="text-muted"><i class="bi bi-hand-index-thumb" style="margin-right: 8px;"></i>Select a parameter</b>
          <div class="dropdown">
              <a class="dropdown-toggle" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Select a Parameter:</div>
                 
                <div class="py-2 collapse-inner rounded">
                    @for(option of parameters; track option)
                      {<div class="text-center mb-0">
                          <label class="form-check-label">
                              <input type="radio"
                                     class="form-check-input"
                                     [value]="option"
                                     [(ngModel)]="selectedParameter" 
                                     [ngModelOptions]="{standalone: true}" 
                                     (change)="plotGraphs2()"
                                     name="typeGroup"/>
                              {{ option }}
                          </label>
                        </div>}
                      </div>
                  
              </div>
          </div>
      </div>
          <div class="card-body">
            <div id="plot"  #plot></div>
          </div>
        </div>
      </div>}
      @if (isclicked0)
      {
      <div class="col-xl-7 col-lg-7 col-md-9">
        <div class="card">
          <div class="card-header py-3 d-flex flex-row align-items-center">
              All<input type="checkbox" [(ngModel)]="plotAll" (change)="plot3d()">
              <b style="margin-left: 20px;">{{selectedProject}}</b>
      </div>
      
          <div class="card-body embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item responsive-plot" id="3d" #3d></div>
          </div>
        </div>
      </div>}
    </div>
  </div>
 